<nav class="navbar">
  <!-- Logo principal -->
  <div class="logo" routerLink="/peliculas">
    CINE<span>MORE</span>
  </div>

  <!-- Enlaces de navegacion -->
  <ul class="nav-links">
    <li>
      <a routerLink="/peliculas" routerLinkActive="active">PELÍCULAS</a>
    </li>
    <li>
      <a routerLink="/candy" routerLinkActive="active">CANDY</a>
    </li>
    <li>
      <a routerLink="/club-puntos" routerLinkActive="active">CLUB / PUNTOS</a>
    </li>
    <li>
      <a routerLink="/proximamente" routerLinkActive="active">PRÓXIMAMENTE</a>
    </li>
  </ul>

  <!-- Botones de accesos -->
  <div class="nav-acciones">
    <button class="btn-login">INGRESAR</button>
    <button class="btn-registro">REGISTRARSE</button>
  </div>
</nav>