/*=======================================================================================================
  =                                ESTILOS DE BARRA DE NAVEGACIÓN                                       =
  =======================================================================================================
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #1b6b70 0%, #12474a 100%);
  padding: 14px 32px;
  border-bottom: 4px solid var(--color-amarillo);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.logo {
  font-family: var(--fuente-retro);
  font-size: 1.5rem;
  color: var(--color-amarillo);
  letter-spacing: 2px;
  text-shadow: 
    2px 2px 0px var(--color-rojo-vintage),
    4px 4px 0px #092527;
  cursor: pointer;
}

.logo span {
  color: var(--color-naranja);
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 16px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-crema);
  font-size: 0.95rem;
  font-weight: 800; 
  letter-spacing: 1.2px;
  padding: 8px 14px;
  border-radius: 4px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); 
  transition: all 0.2s ease;
}

.nav-links a:hover {
  color: var(--color-amarillo);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}

.nav-links a.active {
  color: #12474a;
  background-color: var(--color-amarillo);
  box-shadow: 3px 3px 0px var(--color-rojo-vintage);
  text-shadow: none;
}

.nav-acciones {
  display: flex;
  gap: 12px;
}

.btn-login {
  background-color: transparent;
  color: var(--color-crema);
  border: 2px solid var(--color-amarillo);
  font-family: var(--fuente-retro);
  font-size: 0.8rem;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 0px #000;
  transition: all 0.15s;
}

.btn-login:hover {
  background-color: var(--color-amarillo);
  color: #12474a;
  box-shadow: 3px 3px 0px #000;
  transform: translate(-1px, -1px);
}

.btn-registro {
  background-color: var(--color-naranja);
  color: var(--color-crema);
  border: 2px solid var(--color-rojo-vintage);
  font-family: var(--fuente-retro);
  font-size: 0.8rem;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 0px #000;
  transition: all 0.15s;
}

.btn-registro:hover {
  background-color: var(--color-rojo-vintage);
  box-shadow: 3px 3px 0px var(--color-amarillo);
  transform: translate(-1px, -1px);
}